span.typed-text {
    font-weight: normal;
    color: #aaa;
}
span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}
span.cursor.typing {
    animation: none;
}
@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}
