<style>
</style>
<div class="container scroll-container">
    <div id="context" class="" style="height: 100%;">
		<div id="register-section" style="background-color: red; height: 30%;">
			Register
		</div>
		<div id="list-section" style="background-color:blue; height: 70%;">
			List
		</div>
    </div>
</div>
<script>
$('.scroll-container').css('height', window.innerHeight - 50 + 'px');
</script>