<div class="col-md-3 left_col" style="overflow: auto; height: 510px;">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/home" class="site_title"><img src="/public/images/logo.png" alt="..." class="img-circle profile_img" style="width: 40px; padding: 0; margin: 0 0 0 5px;"> <span>L.C. Admin</span></a>
        </div>
        
        <div class="clearfix"></div>
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="/public/images/joo.png" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome</span>
                <h2 class="adminName">Jiwoo</h2>
            </div>
        </div>
        <br />
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li>
                        <a href="/home"><i class="fa fa-home"></i>홈</a>
                    </li>
                    <li>
                        <a href="/manage_members"><i class="fa fa-group"></i>계정</a>
                    </li>
                    <li>
                        <a href="/id_approval"><i class="fa fa-newspaper-o"></i>신분증 승인</a>
                    </li>
                    <li>
                        <a href="/manage_trades"><i class="fa fa-refresh"></i>게사글 승인</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>