<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">비밀번호 변경</h3>
                    {{#ifType passwordExpired true}}
                    <div class="text-center">
                        비밀번호가 변경된지 180일 이상이 경과했습니다. 비밀번호를 재설정 해주십시오.
                    </div>
                    {{/ifType}}
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="small mb-1" for="current-password-input">현재 비밀번호</label>
                        <input class="form-control py-4" id="current-password-input" type="password" placeholder="Enter current password" name="current-password" />
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="password-input">새 비밀번호</label>
                        <input class="form-control py-4" id="password-input" type="password" placeholder="Enter password" name="password"/>
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="password-check-input">새 비밀번호 확인</label>
                        <input class="form-control py-4" id="password-check-input" type="password" placeholder="Enter password" name="password"/>
                    </div>
                    <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>      
                    <div class="alert alert-dangerous" id="alert-danger">비밀번호가 일치하지 않습니다.</div>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                        <button id="change-btn" class="btn btn-primary">Change</button>
                    </div>              
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="margin-left: 28%; color: black;">Bitro Admin 2FA Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
            <div id = "qr-body" stye="display: none;">
                <img id="qr" src="" alt="qr" style="display: none;">
                <span id="qr-info" class="text-danger" style="display: none;"><br/>OTP 등록을 위해 1회만 나오는 QR Code입니다.<br /> 재등록을 원할시 개발팀에 문의해주세요.<br/><br/></span>
                <p>위 QR코드를 등록한 OTP 앱에 표기된 숫자 6자리를 입력해주세용</p>
                <input id="otp-input" type="number" class="form-control" oninput="maxLengthCheck(this)" maxlength="6" style="width:50%; display: inline-block;"/>
                <button class="btn btn-info" id="otp-btn">Verify</button>
            </div>
            <div id="password-changed" style="display: none;">
                <p>비밀번호가 변경되었습니다. 새로운 비밀번호로 다시 로그인 해주세요.</p>
                <button id = "gotosignin" class="btn btn-sm btn-dark modal-body-btn process-btn">확인</button>
            </div>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center;">
                <div id="password-changed" style="display: none;">
                    <p>비밀번호가 변경되었습니다. 새로운 비밀번호로 다시 로그인 해주세요.</p>
                    <button id = "gotosignin" class="btn btn-sm btn-dark modal-body-btn process-btn">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$('html body').css('background-color', 'white');
$('html').css('height', '100%');

$("#password-input-check").keydown(function(key) {
    if (key.keyCode == 13) {
        submitChange();
    }
});

$('#change-btn').click(function() {
    submitChange();
});

$('#gotosignin').click(function() {
    location.href='../signin'
})

$(function(){
    $("#alert-success").hide();
    $("#alert-danger").hide(); 
    $("input").keyup(function(){ 
        var pwd1=$("#password-input").val(); 
        var pwd2=$("#password-check-input").val(); 
        if(pwd1 != "" && pwd2 != ""){ 
            if(pwd1 == pwd2){ 
                $("#alert-success").show(); 
                $("#alert-danger").hide(); 
                $("#change-btn").removeAttr("disabled"); }
            else{ 
                $("#alert-success").hide(); 
                $("#alert-danger").show(); 
                $("#change-btn").attr("disabled", "disabled"); 
            } 
        } 
    });

});



function submitChange() {
    let currentPassword = $('#current-password-input').val(),
        password = $('#password-input').val(),
        passwordCheck = $('#password-check-input').val();


    if (currentPassword.length == 0 || passwordCheck.length == 0 || password.length == 0) {
        toastr.error('현재 비밀번호, 새 비밀번호, 새 비밀번호 확인 전부 입력해주세요.');
        return;
    }


    let data = {currentPassword: currentPassword, password : password};

    $.ajax({
        url: `/manage_admin_member/password/check`,
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function (result) {
            result = JSON.parse(result);
            if (result.success) {
                $('#otpModal').modal('show');
                $('#qr-body').show();
                if (result.otpImgUrl) {
                    $('#qr').attr("src", result.otpImgUrl);
                    $('#qr').show();
                    $('#qr-info').show();
                }
            } else {
                toastr.error(result.message);
            }
        },
        error: function(result) {
            console.log(result);
        }
    });
}

$("#otp-input").keydown(function(key) {
    if (key.keyCode == 13) {
        submitOtp();
    }
});

$('#otp-btn').click(function() {
    submitOtp();
});

function submitOtp() {
    let otpInput = $("#otp-input").val();
    if (otpInput.length !== 6) {
        toastr.error('OTP 번호를 확인해주세요.');
        return;
    }
    let password = $('#password-input').val();

    let data = {password : password};

    $.ajax({
        url: `/manage_admin_member/password/change/` + otpInput,
        type: 'POST',
        dataType: 'json',
        data : JSON.stringify(data),
        contentType: 'application/json',
        success: function (result) {
            if (result.success) {
                $('#qr-body').hide();
                $('#password-changed').show();
            } else {
                toastr.error('OTP 번호가 옳바르지 않습니다.');
            }
        },
        error: function(result) {
            console.log(result);
        }
    });
}

</script>