<style>
    body {
        background-color: white;
    }
    .error-img {
        width: 200px;
    }
</style>
<div style="text-align: center; margin-top: 50px;">
    <p style="font-size: 50px; color: red; font-weight: bold;">{{code}}!!!</p>
    <p style="color: black; font-size: 15px;">{{message}}</p>
</div>