{{> navigation/sidenav }}
{{> navigation/topnav }}
<style>
.switch {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 18px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ffd300;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 11px;
	width: 11px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.select2 {
    width: 205px !important;
}

#user-search::placeholder, .fancyme-tags input[type=text]::placeholder {
    color: #bfbfbf;
}

label {
    color: black;
}
</style>
<div class="right_col" role="main">
    <div class="row">
        <div class="card" style="width: 50%;">
            <div class="card-body">
                LoveChain 관리자 선생님 여러분들의 노고에 항상 감사드리옵니다.
            </div>
        </div>
    </div>
</div>
<input id="adminName" type="hidden" value={{adminName}} />
<input id="adminEmail" type="hidden" value={{adminEmail}} />

<div class="modal fade" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="margin-left: 28%; color: black;">L.C. Admin 2FA Certificate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
          <img id="qr" src="" alt="qr" style="display: none;">
          <input id="otp-input" type="number" class="form-control" oninput="maxLengthCheck(this)" maxlength="6" style="width:50%; display: inline-block;"/>
          
          <button class="btn btn-info" id="otp-btn">Verify</button>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
    const adminNameInCookie = getCookie(adminName);
    const adminNameFromServer = $('#adminName').val();
    if (adminNameInCookie == null || adminName != adminNameFromServer) {
        setCookie("adminName", adminNameFromServer, 365);
    }

    const adminEmailInCookie = getCookie(adminEmail);
    const adminEmailFromServer = $('#adminEmail').val();
    if (adminEmailInCookie == null || adminEmail != adminEmailFromServer) {
        setCookie("adminEmail", adminEmailFromServer, 365);
    }

    $('#send-sms-btn').click(function() {
        $('#otpModal').modal('show');
    });

    $('#country-phone-select').select2();

    $("#check-box").change(function() {
        if ($("#check-box").is(":checked")) {
            $('#for-single').hide();
            $('#for-group').show();
        } else {
            $('#for-single').show();
            $('#for-group').hide();
        }
    });
    $("#tagfield").fancymetags({theme: "purple"});
    $('.fancyme-tags input[type=text]').attr("placeholder", "1012345678, +821012345678...");

    $('.accordion').click(function() {
        $(this).next().toggle("show");
        $firstArrow = $(this).children('.arrow-span').children().first();
        if ($firstArrow.hasClass("invisible")) {
            $firstArrow.removeClass("invisible");
            $firstArrow.next().addClass("invisible");
        } else {
            $firstArrow.addClass("invisible");
            $firstArrow.next().removeClass("invisible");
        }
    });

    $('#search-btn').click(function() {
        search();
    });

    $("#user-search").keypress(function(e){
        if(e.which == 13){
            search();
        } 
    });

    $(document).on("click", ".search-user", function() {
        var phone = $(this).children().last().text();
        if (phone == "UNASSIGNED") {
            toastr.error("This user does not have a phone number.");
            return;
        } else {
            $(".fancyme-tags input[type=text]").val(phone);
            $(".fancyme-tags input[type=button]").trigger("click");
            toastr.success("Added");
        }
        
    });
});
function search() {
    var search = $('#user-search').val();
    if (!search) {
        toastr.error("input empty");
        return;
    }
    $.ajax({
        url: 'manage_members/check/duplicate?search=' + search,
        type: 'GET',
        contentType: 'application/json',
        success: function (result) {
            const obj = JSON.parse(result);
            
            let arr = new Array(obj.duplicates);
            if (arr[0].length == 0) {
                toastr.info("검색 내용과 매칭된 회원이 없습니다.");
                return;
            }
            let $tr = "";
            for (let i = 0; i < arr[0].length; i++) {
                $('.search-user').remove();
                $('.search').show();
                $tr += `<tr class="search-user"><td data-label="회원번호" class="seq">` + arr[0][i].seq 
                    + `</td><td data-label="이름" class="name">` + arr[0][i].name +`</td><td data-label="닉네임" class="nickname">` 
                    + arr[0][i].nickname + `</td><td data-label="이메일" class="email" >` + arr[0][i].email 
                        + `</td><td data-label="전화번호" class="phone">` + arr[0][i].phone + `</td></tr>`;
            }
            $('#search-list').append($tr);
        }
    });
}

function getTags(){
    var alltags = new Array();
    var i = 0;
    $(".fancyme-tags #shownlist span").each(function( index ) {
        alltags[i] = $(this).html().substr(0,$(this).html().length - 20);
        i ++;
    });	
    return alltags;	
};

$('#otp-btn').click(function() {
    submitOtp();
});

function submitOtp() {
    let otpInput = $("#otp-input").val();
    if (otpInput.length !== 6) {
        toastr.error('OTP 번호를 확인해주세요.');
        return;
    }

    let data = {userToken: otpInput};

    $.ajax({
        url: `/signin/otp/` + otpInput,
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json',
        success: function (result) {
            if (result.success) {
                sendSms();
            } else {
                toastr.error('OTP 번호가 옳바르지 않습니다.');
            }
        },
        error: function(result) {
            console.log(result);
        }
    });
}

function sendSms() {
    let to = "";
    if ($("#check-box").is(":checked")) {
        to = $('#group-select').val();
    } else {
        to = getTags();
        if (to.length < 1) {
            toastr.error("check sms receiver's number");
            return;
        }
    }
    
    let text = $('#text').val();
    if (text.length < 1) {
        toastr.error("check sms text");
        return;
    }
    const smsData = {to: to, text: text, menu: "HOME"};

    $.ajax({
        url: `util/send/sms`,
        type: 'POST',
        dataType: 'json',
        contentType: 'application/json',
        data: JSON.stringify(smsData),
        success: function (result) {
            toastr.success('발송 성공');
            location.reload();
        }, error: function (result) {
            toastr.error('발송 실패');
        }
    });
}
</script>