.footer {
    border-top: 1px solid lightgray;
    height: 10%;
}
.footerElement {
    display: inline-block;
    padding: 15px 45px;
}

.footerInfo {
    font-weight: bold;
    color: #EAEAEA;
}

.footerInfoSup {
    font-size: 13px;
    /*color: #484545;*/
    color: black;
    color: #EAEAEA;
    font-weight: 500;
}