<style>
.text-card {
    cursor: pointer;
}

.text-card-body {
    height: 150px;
    padding-top: 25px;
}

#context {
    text-align: center;
}

#main-text {
    font-size: 25px;
    margin-bottom: 5px;
    padding: 10px;
    line-height: 25px;
}

#main-msg-btn {
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 5px;
}
</style>
<div class="container scroll-container">
    <div id="context" class="">
        <div>
            <p id="main-text">
                "Love Chain is a service that imprints love messages on the blockchain"<br/>
                "The entered message is copied to numerous nodes around the world and recorded forever"
            </p>
            <button type="button" id="main-msg-btn" class="btn btn-outline-danger">
                Leave Your Message Forever
            </button>
        </div>
        <div class="text-card">
            <div class="text-card-header">
                November 8th 2021
            </div>
            <div class="text-card-body" style="padding-top: 0;">
                아이폰13 프로맥스 시에라블루 도착했다. 질문 받는다.
            </div>
            <div class="text-card-footer">
                by Joo0oo
            </div>
        </div>
        <div class="text-card">
            <div class="text-card-header">
                November 3th 2021
            </div>
            <div class="text-card-body" style="padding-top: 0;">
                Do you have a mother?
            </div>
            <div class="text-card-footer">
                by Joo0oo
            </div>
        </div>
        <div class="text-card">
            <div class="text-card-header">
                October 28th 2021
            </div>
            <div class="text-card-body" style="padding-top: 0;">
                이번학기 막학기입니다~ 여러분~^^
            </div>
            <div class="text-card-footer">
                by Joo0oo
            </div>
        </div>
        <div class="text-card">
            <div class="text-card-header">
                October 25th 2021
            </div>
            <div class="text-card-body">
                Bitcoin Forever~
            </div>
            <div class="text-card-footer">
                by Joo0oo
            </div>
        </div>
        <div class="text-card">
            <div class="text-card-header">
                October 8th 2021
            </div>
            <div class="text-card-body" style="font-size: 38px;">
                우리의 사랑이 절대 변하지 않도록.. 비트코인 노드에 저장..
            </div>
            <div class="text-card-footer">
                by Joo0oo
            </div>
        </div>
        <div class="text-card">
            <div class="text-card-header">
                October 8th 2021
            </div>
            <div class="text-card-body">
                디자이너 구합니다...
            </div>
            <div class="text-card-footer">
                by Joo0oo
            </div>
        </div>   
        
    </div>
</div>
<script>
$('.scroll-container').css('height', window.innerHeight - 50 + 'px');
$('.text-card').click(function() {
    location.href = '/detail';
});
$('#main-msg-btn').click(function() {
    location.href = '/write';
});

if ($('#is-login').val()) {
    alert("good");
}

</script>