<style>
#context {
	padding: 10px 30px;
}

.password {
	width:10%;
	display: inline-block;
	margin: 3px;
}

.pw-digit {
	font-size: 32px;
	font-weight: bold;
}

.pw-digit-b {
	border: 2px solid #999999;
	display: inline-block;
	width: 25px;
	margin-top: 5px;
}
.digit {
	color: black;
	font-size: 2.5em;
}

.btn-link:hover, .btn-link:active {
	color: #f76680;
}
</style>
<div class="container scroll-container">
    <div id="context" class="">
		<div class="">
			<div class="" style="margin-top: 30px;">
				<p class="text-center" style="font-size: 30px; font-weight: bold;">
					<span class="">Input 6-digits</span><br/>
					<span>LoveChain PIN</span>
				</p>
			</div>
			
			<div class="" style="margin-top: 15px; margin-bottom: 15px; text-align: center;">
				<div class="password">
					<span class="pw-digit" id="digit-1"></span><br/>
					<hr class="pw-digit-b"/>
				</div>
				<div class="password">
					<span id="digit-2" class="pw-digit"></span><br/>
					<hr class="pw-digit-b"/>
				</div>
				<div class="password">
					<span id="digit-3" class="pw-digit"></span><br/>
					<hr class="pw-digit-b"/>
				</div>
				<div class="password">
					<span id="digit-4" class="pw-digit"></span><br/>
					<hr class="pw-digit-b"/>
				</div>
				<div class="password">
					<span id="digit-5" class="pw-digit"></span><br/>
					<hr class="pw-digit-b"/>
				</div>
				<div class="password">
					<span id="digit-6" class="pw-digit"></span><br/>
					<hr class="pw-digit-b"/>
				</div>
			</div>
			<input type="hidden" id="password" name="password">
			
			<table class="text-center" style="margin: 0 auto; width: 100%;">
				<tr>
					<td><button type="button" class="btn btn-lg btn-link digit" value="1">1</button></td>
					<td><button type="button" class="btn btn-lg btn-link digit" value="2">2</button></td>
					<td><button type="button" class="btn btn-lg btn-link digit" value="3">3</button></td>
				</tr>
				<tr>
					<td><button type="button" class="btn btn-lg btn-link digit" value="4">4</button></td>
					<td><button type="button" class="btn btn-lg btn-link digit" value="5">5</button></td>
					<td><button type="button" class="btn btn-lg btn-link digit" value="6">6</button></td>
				</tr>
				<tr>
					<td><button type="button" class="btn btn-lg btn-link digit" value="7">7</button></td>
					<td><button type="button" class="btn btn-lg btn-link digit" value="8">8</button></td>
					<td><button type="button" class="btn btn-lg btn-link digit" value="9">9</button></td>
				</tr>
				<tr>
					<td>
						<button type="button" class="btn btn-lg btn-link digit" value="cancel">
							<img class="menu-button-img" style="width: 50%;" src="/public/image/cancel.png">
						</button>
					</td>
					<td><button type="button" class="btn btn-lg btn-link digit" value="0">0</button></td>
					<td>
						<button type="button" class="btn btn-lg btn-link digit" value="delete">
							<img class="menu-button-img" style="width: 50%;" src="/public/image/delete.png">
						</button>
					</td>
				</tr>
			</table>
				</div>
			</div>
				
		</div>
    </div>
</div>
<script>
$('.scroll-container').css('height', window.innerHeight - 100 + 'px');

$('.digit').click(function() {
		
	if($(this).val() == 'cancel') {
		$('#password').val('');
		
		for(var i = 6; i >= 1; i--) {
			removeStar(i);
		}
		return;
	}
	
	if($(this).val() == 'delete') {
		var passwordEntered = $('#password').val();
		
		$('#password').val(passwordEntered.slice(0, -1));
		
		for(var i = 6; i > $('#password').val().length; i--) {
			removeStar(i);
		}
		
		return;
	}
	
	if ($('#password').val().length >= 6) {
		toastr.error('Please wait a moment.');
		return;
	}
	
	$('#password').val($('#password').val() + $(this).val());
	
	for(var i = 1; i <= $('#password').val().length; i++) {
		drawStar(i);
		
		if(i == 6) {
			setTimeout(function(){
				
				$.ajax({
					url: `pin`,
					type: 'POST',
					dataType: 'json',
					data: {"pin": $('#password').val()},
					success: function (result) {
						if (result.message == 'success') {
							location.href = '/'
						} else {
							toastr.error("Contact support team");	
						}
					},
					error: function(error) {
						toastr.error("Contact support team");
					}
				});
				
				$('#password').val('');
				for(var i = 6; i >= 1; i--) {
					removeStar(i);
				}
				
			}, 1);
		}
	}
	
});

function drawStar(index) {
	modifyNumberPanel(index, '*', '#f76680');
}

function removeStar(index) {
	modifyNumberPanel(index, '', '#999999');
}

function modifyNumberPanel(index, text, color) {
	$target = $('#digit-' + index);
	$target.text(text);
	$target.css('color', color);
	$target.next().next().css('border', '2px solid '+color);
}
</script>