<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">

    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/css/custom.css" rel="stylesheet">

    <script src="/public/js/jquery-3.6.0.min.js"></script>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/jquery.mask.min.js"></script>
</head>
<body>
    <div id="wrapper">
            <div id="page-wrapper" class="white-bg">
                {{> nav }}
                {{{ body }}}
            </div>
    </div>
</body>